---
  import OutputDisplay from "./OutputDisplay.svelte";
  import InputControls from "./InputControls.svelte";
  import Disclaimer from "./Disclaimer.svelte";
  import icon from "./D20.svg"
---

<div
  class="m-auto flex h-dvh max-h-dvh flex-col overflow-y-clip p-4 landscape:lg:px-8 gap-2 landscape:lg:gap-4"
>
  <header class="flex flex-row items-start">
    <h1 class="text-lg landscape:md:text-2xl flex-1 text-balance">RPG Campaign Generator <img src={icon.src} class="inline-block h-[1em]" alt="" /></h1>
    <Disclaimer client:load />
  </header>
  <main class="flex flex-1 flex-col gap-4 overflow-y-clip landscape:flex-row min-h-0">
    <div class="flex flex-1 place-items-stretch overflow-y-clip">
      <OutputDisplay client:load/>
    </div>
    <div class="w-full landscape:max-w-64 landscape:lg:max-w-xs overflow-y-clip">
      <InputControls client:load />
    </div>
  </main>
</div>
